.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

analysis/statistical_analysis.qmd
analysis/figures/sem_plot.pdf
analysis/figures/sem_plot_2.pdf
analysis/figures/sem_qrp_outcome.pdf
analysis/figures/demands_cfa_plot.pdf
analysis/figures/resources_cfa_plot.pdf
data/raw/april_09_aczellab.csv
data/raw/april_09_decisionlab.csv